<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

  <Supernova_label>Взрыв сверхновой</Supernova_label>
  <SupernovaExp_low>На расстоянии нескольких сотен тысяч световых лет произошел взрыв сверхновой. Это не причинит вреда, но позволит наблюдать красивое зрелище.</SupernovaExp_low>
  <SupernovaExp_medium>На расстоянии нескольких десятков тысяч световых лет произошел взрыв сверхновой. Ожидайте небольшой метеоритный дождь, повышение температуры</SupernovaExp_medium>
  <SupernovaExp_high>На расстоянии нескольких тычяч световых лет произошел взрыв сверхновой. Ожидайте мощные метеоритные дожди, очень сильное повышение температуры и продолжительный день</SupernovaExp_high>
  <SupernovaExp_ultra>На расстоянии нескольких сотен световых лет произошел взрыв сверхновой. Будет ад, крепитесь.</SupernovaExp_ultra>

  <HiveCreaturesCount>Особей: </HiveCreaturesCount>
  <HiveLevel>Уровень: </HiveLevel>
  
  <ShipCargo_Food_ExpandLabel>Обломок корабля</ShipCargo_Food_ExpandLabel>
  <ShipCargo_Food_Description>Обломок грузового сектора</ShipCargo_Food_Description>
  <ShipSite_LeaveCommandLabel>Уйти</ShipSite_LeaveCommandLabel>
  <ShipSite_LeaveCommandDesc>Собрать караван и уйти</ShipSite_LeaveCommandDesc>
  <CaravanEnteredShipCrash>Караван прибыл к</CaravanEnteredShipCrash>
  
  <ShipCargo_Mining_ExpandLabel>Обломок корабля</ShipCargo_Mining_ExpandLabel>
  <ShipCargo_Mining_Description>Обломок грузового сектора</ShipCargo_Mining_Description>

  <ShipPartTimeout>\nВероятно, обломки будут разграблены через (дней):</ShipPartTimeout>
  
  <ShipCargo_Complex_ExpandLabel>Обломок корабля</ShipCargo_Complex_ExpandLabel>
  <ShipCargo_Complex_Description>Обломок грузового сектора</ShipCargo_Complex_Description>
  
  <EnemyOnTheMap>На карте еще остались враги. Вы не можете собрать караван сейчас.</EnemyOnTheMap>
  
  <Ship_Living_ExpandLabel>Обломок корабля</Ship_Living_ExpandLabel>
  <Ship_Living_Description>Обломок жилого сектора</Ship_Living_Description>
  
  <Ship_Armory_ExpandLabel>Обломок корабля</Ship_Armory_ExpandLabel>
  <Ship_Armory_Description>Обломок оружейного сектора</Ship_Armory_Description>
  
  <FireSpreadIs>Пожар усилится через (дней): </FireSpreadIs>
  <CaravanEnteredMassiveFire>Караван прибыл к</CaravanEnteredMassiveFire>
  
  <DetonationIn>Автоматическая детонация через (дней): </DetonationIn>
  <DisarmingProgress>Прогресс разминирования: </DisarmingProgress>
  <DisarmAction>Начать процесс разминирования</DisarmAction>
  <SuccessDisarming>Бомба разминирована</SuccessDisarming>
  <SuccessDisarmingDesc>Климатическая бомба была успешна разминирована. В процессе разминирования был обнаружен элемент, который, похоже, являлся основных источником энергии.
  Ваши люди смогли извечь его. С помощью него, вероятно, получится создать новый источник энергии.</SuccessDisarmingDesc>
  <BombDisarmed>Бомба обезврежена</BombDisarmed>
  <DefusingInfo>Попытка разминировать бомбу\n\nВаши колонисты сообщают, что попытка обезвредить бомбу может активировать защитные механизмы бомбы, которые, вероятно, привлекут множество других людей сюда.\n\nПриготовьтесь к битве!</DefusingInfo>
  
  <InstallCommand_Title>Установить</InstallCommand_Title>
  <InstallCommand_Desc>Выбрать место для постройки</InstallCommand_Desc>
  
  <Earthshake>Землетрясение закончилось</Earthshake>
  <EarthshakeDesc>Землетрясение закончилось. Магнитуда:</EarthshakeDesc>
  
  <ZeroPointReactorDestablished>Реактор нулевой точки дестабилизирован</ZeroPointReactorDestablished>
  <ZeroPointReactorDestablishedDesc>Реактор нулевой точки дестабилизирован и вот-вот выйдет из строя. Вакуумное ядро притягивает ближайших пешек, осторожно!</ZeroPointReactorDestablishedDesc>	
  <ZPRNeedMorePumps>\n- Требуется вакуумных насосов: </ZPRNeedMorePumps>
  <ZPRWorking>Активен.</ZPRWorking>
  <ZPRNoActiveLabel>Неактивен:</ZPRNoActiveLabel>
  <ZPRHasRoofs>\n- Требуется крыша</ZPRHasRoofs>
  <ZPRNeedRoom>\n- Требуется помещение</ZPRNeedRoom>
  
  <SiegeCampUpdateTimer>Дней до улучшения:</SiegeCampUpdateTimer>
  <SiegeCampLevel>\nСложность лагеря:</SiegeCampLevel>
  
</LanguageData>