<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

  <Supernova_label>Взрыв сверхновой</Supernova_label>
  <SupernovaExp_low>На расстоянии нескольких сотен тысяч световых лет произошел взрыв сверхновой. Это не причинит вреда, но позволит наблюдать красивое зрелище.</SupernovaExp_low>
  <SupernovaExp_medium>На расстоянии нескольких десятков тысяч световых лет произошел взрыв сверхновой. Ожидайте небольшой метеоритный дождь, повышение температуры</SupernovaExp_medium>
  <SupernovaExp_high>На расстоянии нескольких тычяч световых лет произошел взрыв сверхновой. Ожидайте мощные метеоритные дожди, очень сильное повышение температуры и продолжительный день</SupernovaExp_high>
  <SupernovaExp_ultra>На расстоянии нескольких сотен световых лет произошел взрыв сверхновой. Будет ад, крепитесь.</SupernovaExp_ultra>

  <HiveCreaturesCount>Особей: </HiveCreaturesCount>
  <HiveLevel>Уровень: </HiveLevel>
  
  <ShipCargo_Food_ExpandLabel>Обломок корабля</ShipCargo_Food_ExpandLabel>
  <ShipCargo_Food_Description>Обломок грузового сектора</ShipCargo_Food_Description>
  <ShipSite_LeaveCommandLabel>Уйти</ShipSite_LeaveCommandLabel>
  <ShipSite_LeaveCommandDesc>Собрать караван и уйти</ShipSite_LeaveCommandDesc>
  <CaravanEnteredShipCrash>Караван прибыл к</CaravanEnteredShipCrash>
  
  <ShipCargo_Mining_ExpandLabel>Обломок корабля</ShipCargo_Mining_ExpandLabel>
  <ShipCargo_Mining_Description>Обломок грузового сектора</ShipCargo_Mining_Description>

  <ShipPartTimeout>\nВероятно, обломки будут разграблены через (дней):</ShipPartTimeout>
  
  <ShipCargo_Complex_ExpandLabel>Обломок корабля</ShipCargo_Complex_ExpandLabel>
  <ShipCargo_Complex_Description>Обломок грузового сектора</ShipCargo_Complex_Description>
  
  <EnemyOnTheMap>На карте еще остались враги. Вы не можете собрать караван сейчас.</EnemyOnTheMap>
  
  <Ship_Living_ExpandLabel>Обломок корабля</Ship_Living_ExpandLabel>
  <Ship_Living_Description>Обломок жилого сектора</Ship_Living_Description>
  
  <Ship_Armory_ExpandLabel>Обломок корабля</Ship_Armory_ExpandLabel>
  <Ship_Armory_Description>Обломок оружейного сектора</Ship_Armory_Description>
  
  <FireSpreadIs>Пожар усилится через (дней): </FireSpreadIs>
  <CaravanEnteredMassiveFire>Караван прибыл к</CaravanEnteredMassiveFire>
  
  <DetonationIn>Автоматическая детонация через (дней): </DetonationIn>
  <DisarmingProgress>Прогресс разминирования: </DisarmingProgress>
  <DisarmAction>Начать процесс разминирования</DisarmAction>
  <SuccessDisarming>Бомба разминирована</SuccessDisarming>
  <SuccessDisarmingDesc>Климатическая бомба была успешна разминирована. В процессе разминирования был обнаружен элемент, который, похоже, являлся основных источником энергии.
  Ваши люди смогли извечь его. С помощью него, вероятно, получится создать новый источник энергии.</SuccessDisarmingDesc>
  <BombDisarmed>Бомба обезврежена</BombDisarmed>
  <DefusingInfo>Попытка разминировать бомбу\n\nВаши колонисты сообщают, что попытка обезвредить бомбу может активировать защитные механизмы бомбы, которые, вероятно, привлекут множество других людей сюда.\n\nПриготовьтесь к битве!</DefusingInfo>
  
  <InstallCommand_Title>Установить</InstallCommand_Title>
  <InstallCommand_Desc>Выбрать место для постройки</InstallCommand_Desc>
  
  <Earthshake>Землетрясение закончилось</Earthshake>
  <EarthshakeDesc>Землетрясение закончилось. Магнитуда:</EarthshakeDesc>
  
  <ZeroPointReactorDestablished>Реактор нулевой точки дестабилизирован</ZeroPointReactorDestablished>
  <ZeroPointReactorDestablishedDesc>Реактор нулевой точки дестабилизирован и вот-вот выйдет из строя. Вакуумное ядро притягивает ближайших пешек, осторожно!</ZeroPointReactorDestablishedDesc>	
  <ZPRNeedMorePumps>\n- Требуется вакуумных насосов: </ZPRNeedMorePumps>
  <ZPRWorking>Активен.</ZPRWorking>
  <ZPRNoActiveLabel>Неактивен:</ZPRNoActiveLabel>
  <ZPRHasRoofs>\n- Требуется крыша</ZPRHasRoofs>
  <ZPRNeedRoom>\n- Требуется помещение</ZPRNeedRoom>
  
  <SiegeCampUpdateTimer>\nДней до улучшения:</SiegeCampUpdateTimer>
  <SiegeCampLevel>Сложность лагеря:</SiegeCampLevel>
  <YourAttackWasRepelledTitle>Ваша атака провалилась</YourAttackWasRepelledTitle>
  <YourAttackWasRepelledDesc>Ваша атака на вражеский лагерь провалилась. Они учтут свои ошибки в обороне и, вероятно, могут перестроить свою оборону. Оставшиеся в живых колонисты вероятно мертвы или проданы в рабство.</YourAttackWasRepelledDesc>
  
  <AttackIsNotRepelled>Вы не можете уйти сейчас. Атака еще не отражена.</AttackIsNotRepelled>
  <TimerDaysToAttack>Дней до нападения: {0}</TimerDaysToAttack>
  <ThreatLevel>\nУровень угрозы: {0}</ThreatLevel>
  <AttackFriendlySettlementLetter1>Разведчики дружественного поселения {0} докладывают, что одно из вражеских поселений готовит на них атаку. Они просят у вас помощи. К сожалению, уровень угрозы не известен. 
(Чтобы помочь поселению, отправьте к нему караван и отбейте атаку)</AttackFriendlySettlementLetter1>
  <AttackFriendlySettlementLetter2>Разведчики дружественного поселения {0} докладывают, что одно из вражеских поселений готовит на них атаку. Они просят у вас помощи. Уровень угрозы: {1} 
(Чтобы помочь поселению, отправьте к нему караван и отбейте атаку)</AttackFriendlySettlementLetter2>
  <AttackedFriendlySettlementDefendHelp>Вы прибыли на место. Обустройте защиту, поселенцы дружественного поселения переданы в ваше распоряжение. Помните, что вам нужно сохранить как можно больше жизней!</AttackedFriendlySettlementDefendHelp>
  <AttackedFriendlySettlementDefendVictory>Вы отбили атаку.\n {0} благодарно вам. Всего вы смогли сохранить жизнь {1} поселенцам, за что вы получаете награду:\n{2}\n\nОна ожидает вас на на дружественной базе. Вы сможете забрать её когда сформируете караван или в другой любой момент.</AttackedFriendlySettlementDefendVictory>
  <AttackedFriendlySettlementDefendLoseWithHelp>Вы отбили атаку, но не смогли спасти ни одного дружественного поселенца. \nВам попросту некому выдать награду, а дружественное поселение разбито.</AttackedFriendlySettlementDefendLoseWithHelp>
  <AttackedFriendlySettlementLoseWithoutHelp>Вы не пришли на помощь поселению {0}, репутация снижена.</AttackedFriendlySettlementLoseWithoutHelp>
  <RaidStartDefendTitle>Атака началась!</RaidStartDefendTitle>
  <RaidStartDefend>Враги нападают, приготовиться!</RaidStartDefend>
  
  <EnergyChargeCapacity>Уровень заряда: {0} / {1}</EnergyChargeCapacity>
  <InactiveNoHelmet>\nНеактивен. Отсутствует шлем.</InactiveNoHelmet>
  <InactiveMk1>Неактивен</InactiveMk1>
  <EnergyChargeCapacity2>Уровень заряда</EnergyChargeCapacity2>
  <Station>Станция</Station>
  <UnloadArmor>Отключить броню от станции</UnloadArmor>
  <LoadArmor>Подключить броню к станции</LoadArmor>
  <NoAvaliableArmors>Нет доступной брони</NoAvaliableArmors>
  <NotEnoughSpace>Нет места для брони. Освободите больше места вокруг станции.</NotEnoughSpace>
  <NoArmorInStation>Станция не активна. \nОтсутствует броня.</NoArmorInStation>
  <CoreType>Ядро</CoreType>
  <ChargeSpeed>Скорость зарядки: {0}</ChargeSpeed>
  <EnabledCharging>Активно. Идет зарядка</EnabledCharging>
  <FullCharge>Достигнут предел зарядки реактора</FullCharge>
  <NoPowerRightNow>▬► NO POWER ◄▬</NoPowerRightNow>
  <NoCore>Отсутствует ядро</NoCore>
  <NoAvaliableCores>Нет доступных ядер</NoAvaliableCores>
  <ColdFusionCore>Холодный синтез</ColdFusionCore>
  <ArcReactorCore>Дуговой</ArcReactorCore>
  
  <WeaponDeactivated>Оружие судного дня до сих пор активно</WeaponDeactivated>
  <PlanetWillBeDestroyed>Планета будет уничтожена через (дней): </PlanetWillBeDestroyed>
  <PlayerSilverCount>Серебро игрока: {0}</PlayerSilverCount>
  <FactionGift>Серебро от фракций: {0}</FactionGift>
  <GiveRansom>Заплатить выкуп</GiveRansom>
  <NotEnoughSilverDoom>Заплатить выкуп [Недостаточно серебра]</NotEnoughSilverDoom>
  <PaidSuccessDoom>Выкуп уплачен</PaidSuccessDoom>
  <RansomCompleteTitle>Выкуп уплачен</RansomCompleteTitle>
  <RansomComplete>Вражеский командир громко смеется в рацию. Так уж и быть, они не будут взрывать планету. Смех утихает и вы видите, как они сворачивают свой лагерь и устремляются вдаль. Возможно, это еще не конец.</RansomComplete>
  <PlanetDestroyed>Вдруг земля под ногами начинает движение, ваши колонисты чувствуют сильный страх. Постройки вокруг и даже горы приходят в движение. Через несколько минут из земли начинают выливаться потоки лавы. 
  
  Неожиданно в небо устремляется луч неизвестной энергии и на ваших глазах атмосфера планеты начинает разрушаться и солнечная радиация сжигает все вокруг. Еще минута и взрыв: яркая вспышка, вы уже в раю?</PlanetDestroyed>
  <ArsonOut>Поджигатели уходят</ArsonOut>

</LanguageData>