<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

  <Supernova_label>Взрыв сверхновой</Supernova_label>
  <SupernovaExp_low>На расстоянии нескольких сотен тысяч световых лет произошел взрыв сверхновой. Это не причинит вреда, но позволит наблюдать красивое зрелище.</SupernovaExp_low>
  <SupernovaExp_medium>На расстоянии нескольких десятков тысяч световых лет произошел взрыв сверхновой. Ожидайте небольшой метеоритный дождь, повышение температуры</SupernovaExp_medium>
  <SupernovaExp_high>На расстоянии нескольких тычяч световых лет произошел взрыв сверхновой. Ожидайте мощные метеоритные дожди, очень сильное повышение температуры и продолжительный день</SupernovaExp_high>
  <SupernovaExp_ultra>На расстоянии нескольких сотен световых лет произошел взрыв сверхновой. Будет ад, крепитесь.</SupernovaExp_ultra>

  <HiveCreaturesCount>Особей: </HiveCreaturesCount>
  <HiveLevel>Уровень: </HiveLevel>
  
  <ShipCargo_Food_ExpandLabel>Обломок корабля</ShipCargo_Food_ExpandLabel>
  <ShipCargo_Food_Description>Обломок грузового сектора</ShipCargo_Food_Description>
  <ShipSite_LeaveCommandLabel>Уйти</ShipSite_LeaveCommandLabel>
  <ShipSite_LeaveCommandDesc>Собрать караван и уйти</ShipSite_LeaveCommandDesc>
  <CaravanEnteredShipCrash>Караван прибыл к</CaravanEnteredShipCrash>
  
  <ShipCargo_Mining_ExpandLabel>Обломок корабля</ShipCargo_Mining_ExpandLabel>
  <ShipCargo_Mining_Description>Обломок грузового сектора</ShipCargo_Mining_Description>

  <ShipPartTimeout>\nВероятно, обломки будут разграблены через (дней):</ShipPartTimeout>
  
  <ShipCargo_Complex_ExpandLabel>Обломок корабля</ShipCargo_Complex_ExpandLabel>
  <ShipCargo_Complex_Description>Обломок грузового сектора</ShipCargo_Complex_Description>
  
  <EnemyOnTheMap>На карте еще остались враги. Вы не можете собрать караван сейчас.</EnemyOnTheMap>
  
  <Ship_Living_ExpandLabel>Обломок корабля</Ship_Living_ExpandLabel>
  <Ship_Living_Description>Обломок жилого сектора</Ship_Living_Description>
  
  <Ship_Armory_ExpandLabel>Обломок корабля</Ship_Armory_ExpandLabel>
  <Ship_Armory_Description>Обломок оружейного сектора</Ship_Armory_Description>
  
  <FireSpreadIs>Пожар распространится через (дней): </FireSpreadIs>
  
</LanguageData>