<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

  <MEM_Settings_General>Настройка событий</MEM_Settings_General>
  <EventActive>Активен?</EventActive>

  <ShipCrash_Title>Крущение корабля</ShipCrash_Title>
  <ShipCrash_Desc>Неизвестный корабль потерпел крушение. Множество частей были разбросаны по планете. Вы можете их исследовать, чтобы добыть ресурсы или найти новые технологии</ShipCrash_Desc>
  <MinParts_title>Минимум частей</MinParts_title>
  <MinParts>Минимум генерируемых частей разбросанных по карте</MinParts>
  <MaxParts_title>Максимум частей</MaxParts_title>
  <MaxParts>Максимум генерируемых частей разбросанных по карте</MaxParts>
  <ShipCargo_Mining_MinSupply_title>Минимум ящиков с ресурсами</ShipCargo_Mining_MinSupply_title>
  <ShipCargo_Mining_MinSupply>Минимум генерируемых ящиков с ресурсами</ShipCargo_Mining_MinSupply>
  <ShipCargo_Mining_MaxSupply_title>Максимум ящиков с ресурсами</ShipCargo_Mining_MaxSupply_title>
  <ShipCargo_Mining_MaxSupply>Максимум генерируемых ящиков с ресурсами</ShipCargo_Mining_MaxSupply>
  <ShipCargo_Food_MinSupply_title>Минимум ящиков с едой</ShipCargo_Food_MinSupply_title>
  <ShipCargo_Food_MinSupply>Минимум генерируемых частей разбросанных по карте</ShipCargo_Food_MinSupply>
  <ShipCargo_Food_MaxSupply_title>Максимум ящиков с едой</ShipCargo_Food_MaxSupply_title>
  <ShipCargo_Food_MaxSupply>Максимум генерируемых частей разбросанных по карте</ShipCargo_Food_MaxSupply>
  <ShipCargo_Complex_MinSupply_title>Минимум ящиков с общими ресурсами</ShipCargo_Complex_MinSupply_title>
  <ShipCargo_Complex_MinSupply>Минимум генерируемых частей разбросанных по карте</ShipCargo_Complex_MinSupply>
  <ShipCargo_Complex_MaxSupply_title>Максимум ящиков с общими ресурсами</ShipCargo_Complex_MaxSupply_title>
  <ShipCargo_Complex_MaxSupply>Максимум генерируемых частей разбросанных по карте</ShipCargo_Complex_MaxSupply>
  <ShipCargo_Armory_MinSupply_title>Минимум ящиков с оружием и одеждой</ShipCargo_Armory_MinSupply_title>
  <ShipCargo_Armory_MinSupply>Минимум генерируемых частей разбросанных по карте</ShipCargo_Armory_MinSupply>
  <ShipCargo_Armory_MaxSupply_title>Максимум ящиков с оружием и одеждой</ShipCargo_Armory_MaxSupply_title>
  <ShipCargo_Armory_MaxSupply>Максимум генерируемых частей разбросанных по карте</ShipCargo_Armory_MaxSupply>
  <ShipCargo_Living_MinSupply_title>Минимум ящиков с людьми</ShipCargo_Living_MinSupply_title>
  <ShipCargo_Living_MinSupply>Минимум генерируемых частей разбросанных по карте</ShipCargo_Living_MinSupply>
  <ShipCargo_Living_MaxSupply_title>Максимум ящиков с людьми</ShipCargo_Living_MaxSupply_title>
  <ShipCargo_Living_MaxSupply>Максимум генерируемых частей разбросанных по карте</ShipCargo_Living_MaxSupply>
  
  <Supernova_Title>Взрыв сверхновой</Supernova_Title>
  <Supernova_Desc>Взрыв сверхновой</Supernova_Desc>
  
  <SuperHeatWave_Title>Невероятно горячая погода</SuperHeatWave_Title>
  <SuperHeatWave_Desc>Невероятно сильная тепловая волна настигла планету. Температура может подняться до 100 градусов!</SuperHeatWave_Desc>
  
  <MechanoidPortal_Title>Телепортер механойдов!</MechanoidPortal_Title>
  <MechanoidPortal_Desc>С неба обрушился загадочный обломок, который генерирует телепорт из которого появляются механойды. Сам портал не уничтожить, но если сломать генератор, то и портал пропадет.</MechanoidPortal_Desc>
  
  <Disease_NeurofibromatousWorm_Title>Нейрофиброматозные черви</Disease_NeurofibromatousWorm_Title>
  <Disease_NeurofibromatousWorm_Desc>Нейрофиброматозные черви поражают части головного мозга отвечающие за зрение и слух, а так-же поражают нервные окончания. Если их во время не вылечить, то колонист оглохнет и ослепнет навсегда!</Disease_NeurofibromatousWorm_Desc>
  
  <Disease_Fibrodysplasia_Title>Фибродисплазия</Disease_Fibrodysplasia_Title>
  <Disease_Fibrodysplasia_Desc>Некоторые части ваших колонистов покрываются гноем с ледяной коркой. Если не лечить, то часть тела полностью отмирает, а болезнь передается на новую.</Disease_Fibrodysplasia_Desc>
  
  <DestroyRoad_Title>Подрыв дороги</DestroyRoad_Title>
  <DestroyRoad_Desc>Небольшой отряд разбойников взорвал одну из дорог.</DestroyRoad_Desc>
  
  <BoulderMassHit_Title>Метеоритный дождь!</BoulderMassHit_Title>
  <BoulderMassHit_Desc>Метеоритный дождь! В течении некоторого времени метеориты будут падать на землю</BoulderMassHit_Desc>
  
  <BeetleRush_Title>Улей!</BeetleRush_Title>
  <BeetleRush_Desc>Пещерные жуки прокопали тоннель из своего улья наружу. Они будут выходить наружу до тех пор, пока вы не закроете проход.</BeetleRush_Desc>
  
  <RadiationFon_Title>Повышенная радиация</RadiationFon_Title>
  <RadiationFon_Desc>Из-за отсутствия части атмосферы космическая радиация очень легко просачивается на планету. Не советуем находиться на улице.</RadiationFon_Desc>
  
  <IceStorm_Title>Ледяной шторм</IceStorm_Title>
  <IceStorm_Desc>Ледяной шторм настиг вас. Этот шторм несет невероятные низкие температуры и ледяные осколоки. Не выходите из дома</IceStorm_Desc>
  
  <HeavyAir_Title>Тяжелый воздух</HeavyAir_Title>
  <HeavyAir_Desc>Потоки воздуха принесли большое количество тяжелых газов, они затрудняют дыхание и отравляют организм, нужно переждать пару дней</HeavyAir_Desc>
  
  <SandStorm_Title>Песчаная буря</SandStorm_Title>
  <SandStorm_Desc>Надвигается песчаная буря. В течении этого времени будет снижена видимость, скорость движения</SandStorm_Desc>
  
  <MassiveFire_Title>Массивный пожар</MassiveFire_Title>
  <MassiveFire_Desc>На соседней земле начался массивный пожар. Если его не потушить, то он уничтожит все соседние леса!</MassiveFire_Desc>
  
  <Endlessday_Title>Бесконечный день</Endlessday_Title>
  <Endlessday_Desc>Бесконечный день</Endlessday_Desc>
  
  <DenseAtmosphere_Title>Плотная атмосфера</DenseAtmosphere_Title>
  <DenseAtmosphere_Desc>Плотная атмосфера</DenseAtmosphere_Desc>
  
  <ClimateBomb_Title>Климатическая бомба</ClimateBomb_Title>
  <ClimateBomb_Desc>Обнаружено местоположение климатической бомбы. Кто её заложил - неизвестно, но ясно одно: если её не обезвредить, климат сойдет с ума</ClimateBomb_Desc>
  
  <IonizedAtmosphere_Title>Ионизированная атмосфера</IonizedAtmosphere_Title>
  <IonizedAtmosphere_Desc>Ионосферный слой значительно больше, чем когда-либо. Это увеличивает вероятность грозы.</IonizedAtmosphere_Desc>
  
  <Earthquake_Title>Землетрясение</Earthquake_Title>
  <Earthquake_Desc>Началось землетрясение, всем в укрытие!</Earthquake_Desc>
  
  <SiegeCamp_Title>Осадный лагерь</SiegeCamp_Title>
  <SiegeCamp_Desc>Недалеко от вас был разбит вражеский лагерь. Они будут устраивать набеги и обстреливать ваше поселение из минометов, пока вы его не уничтожите.</SiegeCamp_Desc>
  
  <AttackFriendlySettlement_Title>Нападение на дружественное поселение</AttackFriendlySettlement_Title>
  <AttackFriendlySettlement_Desc></AttackFriendlySettlement_Desc>
  
  <Constellations_Title>Созвездия</Constellations_Title>
  <Constellations_Desc></Constellations_Desc>
  <EnablePositive_title>Активировать позитивные созвездия (1 - да, 0 - нет)</EnablePositive_title>
  <EnablePositive>Активировать позитивные созвездия (1 - да, 0 - нет)</EnablePositive>
  <EnableNegative_title>Активировать негативные созвездия (1 - да, 0 - нет)</EnableNegative_title>
  <EnableNegative>Активировать негативные созвездия (1 - да, 0 - нет)</EnableNegative>
  
  <MineralMeteorite_Title>Минеральный метеорит</MineralMeteorite_Title>
  <MineralMeteorite_Desc>Большой метеорит наполненный разными породами, в том числе полезными ресурсами вошел в атмосферу.</MineralMeteorite_Desc>
  
  <DropAnimalInsanity_Title>Капсулы с бешеными животными</DropAnimalInsanity_Title>
  <DropAnimalInsanity_Desc>Неизвестная фракция отправила на нас капсулы с бешеными животными. Поднять щиты!</DropAnimalInsanity_Desc>
  
  <HungryCannibalRaid_Title>Рейд голодных каннибалов</HungryCannibalRaid_Title>
  <HungryCannibalRaid_Desc>Племя людоедов атакует поселение со всех сторон! Им не нужны пленники, им нужно человеческое мясо!</HungryCannibalRaid_Desc>
  
  <DoomsdayUltimatum_Title>Ультиматум судного дня</DoomsdayUltimatum_Title>
  <DoomsdayUltimatum_Desc>Фракция противника сообщает, что у нее есть оружие, способное уничтожить планету. 
Она предъявляет требования: 50 000 серебра.
Вы можете начать собирать серебро вместе с другими фракциями или организовать штурм.</DoomsdayUltimatum_Desc>
  
  <Arsonists_Title>Поджигатели</Arsonists_Title>
  <Arsonists_Desc>Несколько бойцов вражеской фракции прибыли чтобы сжечь ваш лес. </Arsonists_Desc>
  
</LanguageData>