<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

  <Supernova_label>Supernova explosion</Supernova_label>
  <SupernovaExp_low>At a distance of several hundred thousand light years, a supernova explosion occurred. It will not cause harm, but will allow to observe a beautiful sight.</SupernovaExp_low>
  <SupernovaExp_medium>At a distance of several tens of thousands of light years, a supernova explosion occurred. Expect a small meteor shower, temperature increase</SupernovaExp_medium>
  <SupernovaExp_high>At a distance of several thousand light years, a supernova explosion occurred. Expect heavy meteor showers, a very strong temperature increase and a long day.</SupernovaExp_high>
  <SupernovaExp_ultra>At a distance of several hundred light years, a supernova explosion occurred. There will be hell, brave yourself.</SupernovaExp_ultra>

  <HiveCreaturesCount>Individuals: </HiveCreaturesCount>
  <HiveLevel>Level: </HiveLevel>
  
  <ShipCargo_Food_ExpandLabel>Part of the ship</ShipCargo_Food_ExpandLabel>
  <ShipCargo_Food_Description>Part of the cargo section</ShipCargo_Food_Description>
  <ShipSite_LeaveCommandLabel>Leave</ShipSite_LeaveCommandLabel>
  <ShipSite_LeaveCommandDesc>Form the caravan and leave</ShipSite_LeaveCommandDesc>
  <CaravanEnteredShipCrash>Caravan arrived to</CaravanEnteredShipCrash>
  
  <ShipCargo_Mining_ExpandLabel>Part of the ship</ShipCargo_Mining_ExpandLabel>
  <ShipCargo_Mining_Description>Part of the cargo section</ShipCargo_Mining_Description>

  <ShipPartTimeout>\nProbably the wreckage will be looted in (days):</ShipPartTimeout>
  
  <ShipCargo_Complex_ExpandLabel>Part of the ship</ShipCargo_Complex_ExpandLabel>
  <ShipCargo_Complex_Description>Part of the cargo sector</ShipCargo_Complex_Description>
  
  <EnemyOnTheMap>There are still enemies on the map. You can not form a caravan now.</EnemyOnTheMap>
  
  <Ship_Living_ExpandLabel>Part of the ship</Ship_Living_ExpandLabel>
  <Ship_Living_Description>Part of the living section</Ship_Living_Description>
  
  <Ship_Armory_ExpandLabel>Part of the ship</Ship_Armory_ExpandLabel>
  <Ship_Armory_Description>Part of the armory section</Ship_Armory_Description>
  
  <FireSpreadIs>The fire will intensify in (days): </FireSpreadIs>
  <CaravanEnteredMassiveFire>Caravan arrived to</CaravanEnteredMassiveFire>
  
  <DetonationIn>Automatic detonation after (days):</DetonationIn>
  <DisarmingProgress>Mine clearance progress: </DisarmingProgress>
  <DisarmAction>Start the demining process</DisarmAction>
  <SuccessDisarming>Bomb cleared</SuccessDisarming>
  <SuccessDisarmingDesc>The climate bomb was cleared successfully. In the demining process, an element was found that seemed to be the main source of energy.
  Your people were able to steal it. With it, it will probably be possible to create a new source of energy.</SuccessDisarmingDesc>
  <BombDisarmed>Bomb defused</BombDisarmed>
  <DefusingInfo>Attempt to demine the bomb\n\nYour colonists report that trying to defuse a bomb can activate bomb defenses that are likely to attract many other people here.\n\nGet ready for the battle!</DefusingInfo>
	
  <Earthshake>Earthquake over</Earthshake>
  <EarthshakeDesc>The earthquake is over. Magnitude:</EarthshakeDesc>
  
  <ZeroPointReactorDestablished>Zero Point Reactor Destabilized</ZeroPointReactorDestablished>
  <ZeroPointReactorDestablishedDesc>The zero point reactor is destabilized and is about to fail. The vacuum core attracts the nearest pawns carefully!</ZeroPointReactorDestablishedDesc>	
  <ZPRNeedMorePumps>\n- Vacuum pumps required: </ZPRNeedMorePumps>
  <ZPRWorking>Active.</ZPRWorking>
  <ZPRNoActiveLabel>Inactive:</ZPRNoActiveLabel>
  <ZPRHasRoofs>\n- Roof required</ZPRHasRoofs>
  <ZPRNeedRoom>\n- Room required</ZPRNeedRoom>
  
  <SiegeCampUpdateTimer>\nDays to upgrade:</SiegeCampUpdateTimer>
  <SiegeCampLevel>Camp difficulty:</SiegeCampLevel>
  <YourAttackWasRepelledTitle>Your attack failed</YourAttackWasRepelledTitle>
  <YourAttackWasRepelledDesc>Your attack on the enemy camp failed. They will take into account their mistakes in defense and, probably, can rebuild their defense. The surviving colonists are probably dead or sold into slavery.</YourAttackWasRepelledDesc>
  
  <AttackIsNotRepelled>You can not leave now. The attack is not yet reflected.</AttackIsNotRepelled>
  <TimerDaysToAttack>Days to attack {0}</TimerDaysToAttack>
  <ThreatLevel>\nThreat level: {0}</ThreatLevel>
  <AttackFriendlySettlementLetter1>Scout friendly settlement {0} report that one of the enemy settlements is preparing an attack on them. They ask you for help. Unfortunately, the level of threat is not known.
(To help the settlement, send a caravan to it and repel the attack)</AttackFriendlySettlementLetter1>
  <AttackFriendlySettlementLetter2>Scout friendly settlement {0} report that one of the enemy settlements is preparing an attack on them. They ask you for help. Threat Level: {1}
(To help the settlement, send a caravan to it and repel the attack)</AttackFriendlySettlementLetter2>
  <AttackedFriendlySettlementDefendHelp>You have arrived. Set up a defense, the settlers of the friendly settlement are at your disposal. Remember that you need to save as many lives as possible!
</AttackedFriendlySettlementDefendHelp>
  <AttackedFriendlySettlementDefendVictory>You beat off the attack.\n{0} Thank you. In total, you were able to save the life of {1} settlers, for which you get a reward:\n {2} \n\nShe is waiting for you on a friendly base. You can pick it up when you form a caravan or at any other time.</AttackedFriendlySettlementDefendVictory>
  <AttackedFriendlySettlementDefendLoseWithHelp>You fought off the attack, but you could not save a single friendly settler.\nYou simply have no one to give a reward, and a friendly settlement is broken.
</AttackedFriendlySettlementDefendLoseWithHelp>
  <AttackedFriendlySettlementLoseWithoutHelp>You didn’t help settlement {0}, reputation lowered.</AttackedFriendlySettlementLoseWithoutHelp>
  <RaidStartDefendTitle>The attack has begun!</RaidStartDefendTitle>
  <RaidStartDefend>Enemies are attacking, get ready!</RaidStartDefend>
  
  <EnergyChargeCapacity>Charge: {0} / {1}</EnergyChargeCapacity>
  <InactiveNoHelmet>\nInactive. Missing helmet.</InactiveNoHelmet>
  <InactiveMk1>Inactive</InactiveMk1>
  <EnergyChargeCapacity2>Capacity</EnergyChargeCapacity2>
  <Station>Station</Station>
  <UnloadArmor>Disable armor from the station</UnloadArmor>
  <LoadArmor>Connect armor to the station</LoadArmor>
  <NoAvaliableArmors>No available armor</NoAvaliableArmors>
  <NotEnoughSpace>Not enough space for armor. Free up more space around the station.</NotEnoughSpace>
  <NoArmorInStation>Station is not active. Missing armor.</NoArmorInStation>
  <CoreType>Core</CoreType>
  <ChargeSpeed>Charging speed: {0}</ChargeSpeed>
  <EnabledCharging>Actively. Charging</EnabledCharging>
  <FullCharge>Reactor charge limit reached</FullCharge>
  <NoPowerRightNow>▬► NO POWER ◄▬</NoPowerRightNow>
  <NoCore>Core missing</NoCore>
  <NoAvaliableCores>No cores available</NoAvaliableCores>
  <ColdFusionCore>Cold fusion</ColdFusionCore>
  <ArcReactorCore>Arc</ArcReactorCore>
  
</LanguageData>