<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

	<DS_InstallCommand_Title>Build {0}</DS_InstallCommand_Title>
	<DS_InstallCommand_Desc>Build new object</DS_InstallCommand_Desc>

  <Supernova_label>Supernova explosion</Supernova_label>
  <SupernovaExp_low>At a distance of several hundred thousand light years, a supernova explosion occurred. It will not cause harm, but will allow to observe a beautiful sight.</SupernovaExp_low>
  <SupernovaExp_medium>At a distance of several tens of thousands of light years, a supernova explosion occurred. Expect a small meteor shower, temperature increase</SupernovaExp_medium>
  <SupernovaExp_high>At a distance of several thousand light years, a supernova explosion occurred. Expect heavy meteor showers, a very strong temperature increase and a long day.</SupernovaExp_high>
  <SupernovaExp_ultra>At a distance of several hundred light years, a supernova explosion occurred. Great chance to go to hell without dying.</SupernovaExp_ultra>

  <HiveCreaturesCount>Individuals: </HiveCreaturesCount>
  <HiveLevel>Level: </HiveLevel>
  
  <ShipCargo_Food_ExpandLabel>Part of the ship</ShipCargo_Food_ExpandLabel>
  <ShipCargo_Food_Description>Part of the cargo section</ShipCargo_Food_Description>
  <ShipSite_LeaveCommandLabel>Leave</ShipSite_LeaveCommandLabel>
  <ShipSite_LeaveCommandDesc>Form the caravan and leave</ShipSite_LeaveCommandDesc>
  <CaravanEnteredShipCrash>Caravan arrived to</CaravanEnteredShipCrash>
  
  <ShipCargo_Mining_ExpandLabel>Part of the ship</ShipCargo_Mining_ExpandLabel>
  <ShipCargo_Mining_Description>Part of the cargo section</ShipCargo_Mining_Description>

  <ShipPartTimeout>\nProbably the wreckage will be looted in (days):</ShipPartTimeout>
  
  <ShipCargo_Complex_ExpandLabel>Part of the ship</ShipCargo_Complex_ExpandLabel>
  <ShipCargo_Complex_Description>Part of the cargo sector</ShipCargo_Complex_Description>
  
  <EnemyOnTheMap>There are still enemies on the map. You can not form a caravan now.</EnemyOnTheMap>
  
  <Ship_Living_ExpandLabel>Part of the ship</Ship_Living_ExpandLabel>
  <Ship_Living_Description>Part of the living section</Ship_Living_Description>
  
  <Ship_Armory_ExpandLabel>Part of the ship</Ship_Armory_ExpandLabel>
  <Ship_Armory_Description>Part of the armory section</Ship_Armory_Description>
  
  <FireSpreadIs>The fire will intensify in (days): </FireSpreadIs>
  <CaravanEnteredMassiveFire>Caravan arrived to</CaravanEnteredMassiveFire>
  
  <DetonationIn>Automatic detonation after (days):</DetonationIn>
  <DisarmingProgress>Mine clearance progress: </DisarmingProgress>
  <DisarmAction>Start the demining process</DisarmAction>
  <SuccessDisarming>Bomb cleared</SuccessDisarming>
  <SuccessDisarmingDesc>The climate bomb was cleared successfully. In the demining process, an element was found that seemed to be the main source of energy.
  Your people were able to steal it. With it, it will probably be possible to create a new source of energy.</SuccessDisarmingDesc>
  <BombDisarmed>Bomb defused</BombDisarmed>
  <DefusingInfo>Attempt to demine the bomb\n\nYour colonists report that trying to defuse a bomb can activate bomb defenses that are likely to attract many other people here.\n\nGet ready for the battle!</DefusingInfo>
	
  <Earthshake>Earthquake over</Earthshake>
  <EarthshakeDesc>The earthquake is over. Magnitude:</EarthshakeDesc>
  
  <ZeroPointReactorDestablished>Zero Point Reactor Destabilized</ZeroPointReactorDestablished>
  <ZeroPointReactorDestablishedDesc>The zero point reactor is destabilized and is about to fail. The vacuum core attracts the nearest pawns carefully!</ZeroPointReactorDestablishedDesc>	
  <ZPRNeedMorePumps>\n- Vacuum pumps required: </ZPRNeedMorePumps>
  <ZPRWorking>Active.</ZPRWorking>
  <ZPRNoActiveLabel>Inactive:</ZPRNoActiveLabel>
  <ZPRHasRoofs>\n- Roof required</ZPRHasRoofs>
  <ZPRNeedRoom>\n- Room required</ZPRNeedRoom>
  
  <SiegeCampUpdateTimer>\nDays to upgrade:</SiegeCampUpdateTimer>
  <SiegeCampLevel>Camp difficulty:</SiegeCampLevel>
  <YourAttackWasRepelledTitle>Your attack failed</YourAttackWasRepelledTitle>
  <YourAttackWasRepelledDesc>Your attack on the enemy camp failed. They will take into account their mistakes in defense and, probably, can rebuild their defense. The surviving colonists are probably dead or sold into slavery.</YourAttackWasRepelledDesc>
  
  <AttackIsNotRepelled>You can not leave now. The attack is not yet reflected.</AttackIsNotRepelled>
  <TimerDaysToAttack>Days to attack {0}</TimerDaysToAttack>
  <ThreatLevel>\nThreat level: {0}</ThreatLevel>
  <AttackFriendlySettlementLetter1>Scout friendly settlement {0} report that one of the enemy settlements is preparing an attack on them. They ask you for help. Unfortunately, the level of threat is not known.
(To help the settlement, send a caravan to it and repel the attack)</AttackFriendlySettlementLetter1>
  <AttackFriendlySettlementLetter2>Scout friendly settlement {0} report that one of the enemy settlements is preparing an attack on them. They ask you for help. Threat Level: {1}
(To help the settlement, send a caravan to it and repel the attack)</AttackFriendlySettlementLetter2>
  <AttackedFriendlySettlementDefendHelp>You have arrived. Set up a defense, the settlers of the friendly settlement are at your disposal. Remember that you need to save as many lives as possible!
</AttackedFriendlySettlementDefendHelp>
  <AttackedFriendlySettlementDefendVictory>You beat off the attack.\n{0} Thank you. In total, you were able to save the life of {1} settlers, for which you get a reward:\n {2} \n\nShe is waiting for you on a friendly base. You can pick it up when you form a caravan or at any other time.</AttackedFriendlySettlementDefendVictory>
  <AttackedFriendlySettlementDefendLoseWithHelp>You fought off the attack, but you could not save a single friendly settler.\nYou simply have no one to give a reward, and a friendly settlement is broken.
</AttackedFriendlySettlementDefendLoseWithHelp>
  <AttackedFriendlySettlementLoseWithoutHelp>You didn’t help settlement {0}, reputation lowered.</AttackedFriendlySettlementLoseWithoutHelp>
  <RaidStartDefendTitle>The attack has begun!</RaidStartDefendTitle>
  <RaidStartDefend>Enemies are attacking, get ready!</RaidStartDefend>
  
  <EnergyChargeCapacity>Charge: {0} / {1}</EnergyChargeCapacity>
  <InactiveNoHelmet>\nInactive. Missing helmet.</InactiveNoHelmet>
  <InactiveMk1>Inactive</InactiveMk1>
  <EnergyChargeCapacity2>Capacity</EnergyChargeCapacity2>
  <Station>Station</Station>
  <UnloadArmor>Disable armor from the station</UnloadArmor>
  <LoadArmor>Connect armor to the station</LoadArmor>
  <NoAvaliableArmors>No available armor</NoAvaliableArmors>
  <NotEnoughSpace>Not enough space for armor. Free up more space around the station.</NotEnoughSpace>
  <NoArmorInStation>Station is not active. Missing armor.</NoArmorInStation>
  <CoreType>Core</CoreType>
  <ChargeSpeed>Charging speed: {0}</ChargeSpeed>
  <EnabledCharging>Actively. Charging</EnabledCharging>
  <FullCharge>Reactor charge limit reached</FullCharge>
  <NoPowerRightNow>▬► NO POWER ◄▬</NoPowerRightNow>
  <NoCore>Core missing</NoCore>
  <NoAvaliableCores>No cores available</NoAvaliableCores>
  <ColdFusionCore>Cold fusion</ColdFusionCore>
  <ArcReactorCore>Arc</ArcReactorCore>
  
  <WeaponDeactivated>Doomsday weapons are still active</WeaponDeactivated>
  <PlanetWillBeDestroyed>The planet will be destroyed in (days): </PlanetWillBeDestroyed>
  <PlayerSilverCount>Silver player: {0}</PlayerSilverCount>
  <FactionGift>Silver from factions: {0}</FactionGift>
  <GiveRansom>Pay a ransom</GiveRansom>
  <NotEnoughSilverDoom>Pay a ransom [Not enough silver]</NotEnoughSilverDoom>
  <PaidSuccessDoom>Ransom paid</PaidSuccessDoom>
  <RansomCompleteTitle>Ransom paid</RansomCompleteTitle>
  <RansomComplete>The enemy commander laughs loudly into the walkie-talkie. So be it, they will not blow up the planet. The laughter subsides and you see how they turn off their camp and rush off into the distance. Perhaps this is not the end.</RansomComplete>
  <PlanetDestroyed>The ears of everyone present laid from unnaturally loud sound. The roar was like a bomb explosion, and a flash of light - the birth of a star. The earth began to move, plunging into the depths of the hapless viewers, filled with insane cries. On everyone's face, a grimace of horror froze, and in their eyes the blood of the planet was reflected — lava.
The apocalyptic machine has emitted a column of bright light, marking the end not only of your colony, but also of this world: the destroyed atmosphere took with it the hope of salvation. Waves of solar radiation swept the entire surface of a planet popping at the seams. The fragments of the mortal world will remind descendants for a long time that there is no better destroyer of the human race than man himself.
Even the best of the writers could not describe the place of your current stay, but if he embarked on this task, which is doomed to failure, then he definitely would not use derivatives from the word “Paradise”.
</PlanetDestroyed>
  <ArsonOut>The arsonists leave</ArsonOut>
	
  <DoomsdayEnterSiteHelp>You have come to an enemy base. Somewhere hidden doomsday weapon. It must be found, de-energized and destroyed, but first you have to clear the base.</DoomsdayEnterSiteHelp>
  <DeEnergizedStatus>Power level: {0}</DeEnergizedStatus>
  <ShildsOffDommsdayTitle>Energy Shield Disabled</ShildsOffDommsdayTitle>
  <DeactiveEnergyShieldDoom>Turn off energy shield</DeactiveEnergyShieldDoom>
  <ShildsOffDommsday>You were able to turn off the energy barrier protecting device. Now, in order not to destroy the map, you need to disable the protection system.</ShildsOffDommsday>
  <SecurityNonActiveDoomsday>\nSecurity Systems: disabled</SecurityNonActiveDoomsday>
  <SecurityActiveDoomsday>\nSecurity Systems: enabled</SecurityActiveDoomsday>
  <DisableSecuritySystems>Disable security systems</DisableSecuritySystems>
  <DoomsdayContrAttackTitle>Counterattack</DoomsdayContrAttackTitle>
  <DoomsdayContrAttack>They counterattack!</DoomsdayContrAttack>
  
  <HelpCommand>command information</HelpCommand>
  <ClearCommand>clear console</ClearCommand>
  
  <DoomsdatTerminal_SecurityCommand>Access to security systems</DoomsdatTerminal_SecurityCommand>
  <DoomsdayTerminal_UsersCommand>User management system</DoomsdayTerminal_UsersCommand>
  <DoomsdayTerminal_AddNewUsers>--> Add new user: /users add *username* *password*</DoomsdayTerminal_AddNewUsers>
  <DoomsdayTerminal_RemoveUsers>--> Delete user: /users delete *username* *password*</DoomsdayTerminal_RemoveUsers>
  <DoomsdayTerminal_NoAccess>No access</DoomsdayTerminal_NoAccess>
  <DoomsdayTerminal_WrongArguments>Invalid arguments</DoomsdayTerminal_WrongArguments>
  <DoomsdayTerminal_WrongPassword>Wrong password</DoomsdayTerminal_WrongPassword>
  <DoomsdayTerminal_LoginCommand>Sign in. Format: /login *username* *password*</DoomsdayTerminal_LoginCommand>
  <DoomsdayTerminal_LogginSuccess>You are logged in as {0}</DoomsdayTerminal_LogginSuccess>
  <DoomsdayTerminal_LogginFail>Failed login attempt. Check username and password.</DoomsdayTerminal_LogginFail>
  <DoomsdayTerminal_ActiveUsers>Active users:</DoomsdayTerminal_ActiveUsers>
  <DoomsdayTerminal_LogoutCommand>Sign out</DoomsdayTerminal_LogoutCommand>
  <DoomsdayTerminal_LoginFirst>Please login first</DoomsdayTerminal_LoginFirst>
  <DoomsdayTerminal_LogoutOk>You have successfully logged out of your account.</DoomsdayTerminal_LogoutOk>
  <DoomsdayTerminal_HackUsers>%^3Embedding instructions... !#%1@5)(26w\nTo use HackTools 1.0, run /users hack</DoomsdayTerminal_HackUsers>
  <DoomsdayTerminal_UsersHack>Activation module HackTools 1.0\nActivation successful.\nSearch for vulnerabilities ... Found an administrative email.
Decryption email ...

From: ExFeral
To: AktunOba

It seems the boss is still going to use the weapon for blackmail.
Hell, he's gonna blow this world up.
Of course, I am not against the heap of silver, but I also live here! I tried to persuade him to be softer, but it seems that thoughts of thousands of silver coins are driving him crazy.
I want to play it safe if it suddenly gets too hot, but I can't just leave the password like this.
I sketched a riddle, I told you it many times, I think you will have no problems to solve it. Use it to login Fernal.
You enter the dark kitchen. It has a candle, a kerosene lamp and a gas stove. What will you light first?
</DoomsdayTerminal_UsersHack>
  <DoomsdayTerminal_UsersHackAnser>Match</DoomsdayTerminal_UsersHackAnser>
  <DoomsdayTerminal_AlreadyLogged>You are already logged in. Use /logout.</DoomsdayTerminal_AlreadyLogged>
  <DoomsdayTerminal_SecurityFirst>Enter the security password. /security *password*
*(5$#LKki*6 HackTools 1.0 --> Memory dump /security dump ^I21%$$*1%p0rfgw
  </DoomsdayTerminal_SecurityFirst>
  <DoomsdayTerminal_HackToolsSecurity>
Inject HackTools 1.0
--> Meta OK
--> Memory OK
--> Memory dump...</DoomsdayTerminal_HackToolsSecurity>
	<DoomsdayTerminal_SecurityAccessGranted>Access to security systems is provided.
Commands:
--> /security disable
--> /security energy
</DoomsdayTerminal_SecurityAccessGranted>
  <DoomsdayTerminal_SecurityNoPower>Power is off, deactivation of protection systems is not possible.</DoomsdayTerminal_SecurityNoPower>
  <DoomsdayTerminal_SecurityPowerOk>Power on.</DoomsdayTerminal_SecurityPowerOk>
  <DoomsdayTerminal_SecurityPowerInfoPassive>Welcome to the energy management section.
 
-->Energy shield: inactive
-->Power up: off

RETROS RBIOS-4.02.000 T2EE5/E7.E8
Root (5A8)

RUN IN PASSIVE MODE, TO DISABLE --> /security energy activemode</DoomsdayTerminal_SecurityPowerInfoPassive>
	<DoomsdayTerminal_ActiveModeEnable>Activating active mode ...

ExplasaSystems 5.3 (BG/SS5 FastUse 13.2)
Energy RETROS RBIOS-4.02.000 T2EE5/E7.E8
...
...
Initializing user mode ...
Activating internal systems ...
Systems are active.


RUN IN ACTIVE MODE
</DoomsdayTerminal_ActiveModeEnable>
  
  <DoomsdayTerminal_SecurityPowerInfoActive>Welcome to the energy management section.
 
-->Energy shield: inactive
-->Power up: off

RETROS RBIOS-4.02.000 T2EE5/E7.E8
Root (5A8)

RUN IN ACTIVE MODE
COMMANDS:
--> /security energy shields
--> /security energy on</DoomsdayTerminal_SecurityPowerInfoActive>
	<DoomsdayTerminal_ActiveModeReq>Not available in passive mode.</DoomsdayTerminal_ActiveModeReq>
	<DoomsdayTerminal_ShieldsOff>Energy shield system control disabled.</DoomsdayTerminal_ShieldsOff>
	<DoomsdayTerminal_PowerActivating>Switching magnetic resistors --> OK
Redirecting energy to the control shaft --> OK</DoomsdayTerminal_PowerActivating>
	<DoomsdayTerminal_SecurityDisabled>Disable security systems --> OK</DoomsdayTerminal_SecurityDisabled>
	<SecurityDoomsdayOffTitle>Systems disabled</SecurityDoomsdayOffTitle>
	<SecurityDoomsdayOff>You were able to disable the security systems of doomsday weapons. Now you can safely destroy it.</SecurityDoomsdayOff>
	
</LanguageData>