<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

  <Supernova_label>Supernova explosion</Supernova_label>
  <SupernovaExp_low>At a distance of several hundred thousand light years, a supernova explosion occurred. It will not cause harm, but will allow to observe a beautiful sight.</SupernovaExp_low>
  <SupernovaExp_medium>At a distance of several tens of thousands of light years, a supernova explosion occurred. Expect a small meteor shower, temperature increase</SupernovaExp_medium>
  <SupernovaExp_high>At a distance of several thousand light years, a supernova explosion occurred. Expect heavy meteor showers, a very strong temperature increase and a long day.</SupernovaExp_high>
  <SupernovaExp_ultra>At a distance of several hundred light years, a supernova explosion occurred. There will be hell, brave yourself.</SupernovaExp_ultra>

  <HiveCreaturesCount>Individuals: </HiveCreaturesCount>
  <HiveLevel>Level: </HiveLevel>
  
  <ShipCargo_Food_ExpandLabel>Part of the ship</ShipCargo_Food_ExpandLabel>
  <ShipCargo_Food_Description>Part of the cargo section</ShipCargo_Food_Description>
  <ShipSite_LeaveCommandLabel>Leave</ShipSite_LeaveCommandLabel>
  <ShipSite_LeaveCommandDesc>Form the caravan and leave</ShipSite_LeaveCommandDesc>
  <CaravanEnteredShipCrash>Caravan arrived to</CaravanEnteredShipCrash>
  
  <ShipCargo_Mining_ExpandLabel>Part of the ship</ShipCargo_Mining_ExpandLabel>
  <ShipCargo_Mining_Description>Part of the cargo section</ShipCargo_Mining_Description>

  <ShipPartTimeout>\nProbably the wreckage will be looted in (days):</ShipPartTimeout>
  
  <ShipCargo_Complex_ExpandLabel>Part of the ship</ShipCargo_Complex_ExpandLabel>
  <ShipCargo_Complex_Description>Part of the cargo sector</ShipCargo_Complex_Description>
  
  <EnemyOnTheMap>There are still enemies on the map. You can not form a caravan now.</EnemyOnTheMap>
  
  <Ship_Living_ExpandLabel>Part of the ship</Ship_Living_ExpandLabel>
  <Ship_Living_Description>Part of the living section</Ship_Living_Description>
  
  <Ship_Armory_ExpandLabel>Part of the ship</Ship_Armory_ExpandLabel>
  <Ship_Armory_Description>Part of the armory section</Ship_Armory_Description>
  
  <FireSpreadIs>The fire will intensify in (days): </FireSpreadIs>
  <CaravanEnteredMassiveFire>Caravan arrived to</CaravanEnteredMassiveFire>
  
  <DetonationIn>Automatic detonation after (days):</DetonationIn>
  <DisarmingProgress>Mine clearance progress: </DisarmingProgress>
  <DisarmAction>Start the demining process</DisarmAction>
  <SuccessDisarming>Bomb cleared</SuccessDisarming>
  <SuccessDisarmingDesc>The climate bomb was cleared successfully. In the demining process, an element was found that seemed to be the main source of energy.
  Your people were able to steal it. With it, it will probably be possible to create a new source of energy.</SuccessDisarmingDesc>
  <BombDisarmed>Bomb defused</BombDisarmed>
  <DefusingInfo>Attempt to demine the bomb\n\nYour colonists report that trying to defuse a bomb can activate bomb defenses that are likely to attract many other people here.\n\nGet ready for the battle!</DefusingInfo>
	
  <Earthshake>Earthquake over</Earthshake>
  <EarthshakeDesc>The earthquake is over. Magnitude:</EarthshakeDesc>
  
  <ZeroPointReactorDestablished>Zero Point Reactor Destabilized</ZeroPointReactorDestablished>
  <ZeroPointReactorDestablishedDesc>The zero point reactor is destabilized and is about to fail. The vacuum core attracts the nearest pawns carefully!</ZeroPointReactorDestablishedDesc>	
  
	
</LanguageData>